In [20]:
import json
import pandas as pd

In [21]:
# Lista de chaves com valores escalares ou lista de escalar
keys = ['CreateDate','EmissionDate','Discount','NFeNumber','NFeID']

In [22]:
class Parser:
    def __init__(self):
        pass
    def explode(self,record,key_id):
        df = pd.DataFrame.from_records(record['ItemList'])
        df['id'] = record[key_id]
        return df
    def normalize(self,record,list_key):
        return pd.DataFrame.from_dict({ x: [record[x]] for x in list_key})

In [23]:
parseador = Parser()

In [24]:
# Lendo Json
records = json.load(open('data.json'))

In [25]:
# Gerando dataframe das NF's 
list_df = [parseador.normalize(x,keys) for x in records]
pd.concat(list_df)

               CreateDate         EmissionDate  Discount  NFeNumber  NFeID
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        501      1
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        502      2
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        503      3

In [26]:
# Gerando dataframe da lista de items
list_df = [parseador.explode(x,'NFeID') for x in records]
pd.concat(list_df)

    ProductName  Value  Quantity  NFeID
0          Rice  35.55         2      1
1         Flour  11.55         5      1
2          Bean  27.15         7      1
0        Tomate  12.25        10      2
1         Pasta   7.55         5      2
0          Beer   9.00         6      3
1  French fries  10.99         2      3
2     Ice cream  27.15         1      3